<main class="auth">
    <!-- Auth decor -->
    <div class="auth__left">
        <img src="./assets/img/logo.png" alt="BussinCookin" class="auth__left-img" />
    </div>

    <!-- Auth content -->
    <div class="auth__right">
        <div class="auth__content">
            <h1 class="auth__heading">Reset Password</h1>
            <p class="auth__desc">Enter your email and new password to reset your account</p>
            <form method="POST" action="/reset-password" class="form auth__form">
                {{!-- Email --}}
                <div class="form__group auth__form-item">
                    <div class="form-input__list">
                        <div class="form-input__item">
                            <input
                                type="text"
                                name="email"
                                id="email"
                                value="{{ formData.email }}"
                                placeholder="Email"
                                class="form-input__input"
                            />
                            <img
                                src="./assets/icons/message.svg"
                                alt=""
                                class="form-input__input-icon"
                            />
                            <img
                                src="./assets/icons/form-error.svg"
                                alt=""
                                class="form-input__input-icon-error"
                            />
                        </div>
                    </div>
                    <p class="form__error">{{ errors.email }}</p>
                </div>

                {{!-- New Password --}}
                <div class="form__group auth__form-item">
                    <div class="form-input__list">
                        <div class="form-input__item">
                            <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="New Password"
                                class="form-input__input"
                            />
                            <img
                                src="./assets/icons/lock.svg"
                                alt=""
                                class="form-input__input-icon"
                            />
                            <img
                                src="./assets/icons/form-error.svg"
                                alt=""
                                class="form-input__input-icon-error"
                            />
                        </div>
                    </div>
                    <p class="form__error">{{ errors.password }}</p>
                </div>

                <div class="form__group auth__form-item">
                    <button type="submit" class="btn btn--primary auth__btn form__submit-btn">
                        Reset Password
                    </button>
                </div>
            </form>

            <div class="auth__form-item">
                <p class="auth__text">
                    Remember your password?
                    <a href="/sign-in" class="auth__link">Sign In</a>
                </p>
            </div>
        </div>
    </div>
</main>
