.auth {
    display: flex;
    height: 100vh;

    &__left {
        background-color: green;
        &-img {
            height: 100%;
        }
    }

    &__right {
        padding: 0 30px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%; /* 146.667% */
        text-align: center;
    }

    &__desc {
        text-align: center;

        margin-top: 10px;
        padding: 0 20px;
        color: #9e9da8;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%; /* 146.667% */
    }

    &__form {
        margin-top: 30px;

        &-item {
            margin-top: 30px;

            &--row {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }
        }
    }

    &__btn {
        width: 100%;
    }

    &__link {
        color: #ffb601;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%; /* 146.667% */
    }

    &__text {
        text-align: center;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%; /* 144.444% */
    }
}
